
body{

	width:100%;
	height:100%;
  padding: 10%;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

.Container{

position:relative;
top:0;
left:0;
width:auto;
height:auto;
max-height:80%;
max-width:80%;

}



.Green{

  position:relative;
  width:100%;
  height:100%;

}

.SButton{
 position:absolute;
 width:14%;
 height:14%;
 top:66%;
 left:82%;
 z-index: 1;

}

.RButton{
 position:absolute;
 width:14%;
 height:14%;
 top:66%;
 left:48%;
 z-index: 1;

}

.TheWheelDecides{
 position:absolute;
 width:100%;
 height:100%;
 top:0;

}


.Chips{

  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;

}

.Board{

 position:absolute;
 width:100%;
 height:100%;
 top:0;

}


.StaticWheel{
 position:absolute; 
 width:100%;
 height:100%;
 top:0;
  
}

.RotateCanvas{
position:absolute; 
 width:100%;
 top:-14%;
 left:22.8%;
  transform: rotate(81deg);
-webkit-animation:CanvasRotation 2s linear infinite;
-moz-animation:CanvasRotation 2s linear infinite;
animation:CanvasRotation 2s linear infinite;
webkit-animation-direction: normal; /* Chrome, Safari, Opera */
animation-direction: normal;
transform-origin: 50% 50%;

}

@-moz-keyframes CanvasRotation { 100% { -moz-transform: rotate(441deg); } }
@-webkit-keyframes CanvasRotation { 100% { -webkit-transform: rotate(441deg); } }
@keyframes CanvasRotation { 100%  {transform:rotate(441deg); } }


#myCanvas{
 position:absolute; 
 width:100%;
 top:-14%;
 left:22.8%;
  transform: rotate(81deg);
}




.RotatingWheel{

position:absolute; 
width:100%;
height:100%;
top:0;


-webkit-animation:BigCircleRotation 2s linear infinite;
-moz-animation:BigCircleRotation 2s linear infinite;
animation:BigCircleRotation 2s linear infinite;
webkit-animation-direction: normal; /* Chrome, Safari, Opera */
animation-direction: normal;
transform-origin: 73.14% 43.25%;
-ms-transform-origin: 73.14% 43.25%; 
-webkit-transform-origin: 73.14% 43.25%; /* Chrome, Safari, Opera */

}

@-moz-keyframes BigCircleRotation { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes BigCircleRotation { 100% { -webkit-transform: rotate(360deg); } }
@keyframes BigCircleRotation { 100%  {transform:rotate(360deg); } }

.FormStyle{

 position:absolute; 
 top:25%;
 z-index: 1;
 margin-left: 5%;

}

.FormAnsStyle{

 position:absolute; 
 top:30%;
 z-index: 1;
 margin-left: 5%;

}

.BoxStyle{

  width:300px;

}

@media (max-width: 480px) { 
        .BoxStyle {
         width:100px;
        }

    }


.BoxStyle2{

  width:140px;
  margin-right: 10px;
  margin-top: 5px;

}

@media (max-width: 480px) { 
      .BoxStyle2 {

           width:100px;
        }
      }


.Header{

	position:absolute;
	width:100%;
  height:100%;
  z-index: 1;

 }

 .Footer{

	position:absolute;
	width:100%;
  height:100%;
  bottom:0;


 }